node_modules
**/node_modules
npm-debug.log
**/npm-debug.log

# All except default config
**/config/*
!**/config/default.json
!**/config/default-ci.json
!**/config/default-dev.json
!**/config/default-framework.json
!**/config/.example.*.json
